<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <title>Beacon</title>
    <meta property="og:title" content="Beacon">
    <meta name="twitter:title" content="Beacon">


    <meta name="description" content="Beacon is a safe and secure multi-agency platform providing a single view of need in a local area, helping support everyone at the earliest point possible."/>
    <meta name="twitter:description" content="Beacon is a safe and secure multi-agency platform providing a single view of need in a local area, helping support everyone at the earliest point possible.">
    <meta property="og:description" content="Beacon is a safe and secure multi-agency platform providing a single view of need in a local area, helping support everyone at the earliest point possible.">

    <meta property="og:image" content="/share-img.png">
    <meta name="twitter:image" content="/share-img.png">
    <meta name="twitter:card" content="summary_large_image">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
